@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
}

.conteiner {
  width: 1440px;
  height: 100%;
  background-color: #fff;
  margin: auto;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero_text {
  width: 60%;
  height: 100%;
  padding-top: 190px;
  padding-left: 100px;
}

.hero-text-par-one {
  width: 610px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 125%;
  color: #363738;
}

.hero-text-par-two {
  width: 525px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 40px;
}

.hero-text-par-three {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #363738;
  margin-top: 40px;
}

.hero-line {
  width: 104px;
  height: 0px;
  border: 3px solid #FFCE50;
  margin-top: 10px;
}

.hero_img {
  width: 40%;
  height: 787px;
  background-image: url("../img/Rectangle 1.svg");
  position: relative;
}

.hero-img {
  position: absolute;
  top: 109px;
  right: 100px;
}

.git {
  width: 1240px;
  height: 341px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  top: 681px;
  left: 100px;
}

.git_collection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.git_collection_item {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.git-text {
  width: 228px;
  height: 248px;
}

.git-collection-item-text {
  width: 228px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
  margin-top: 24px;
}

.git-collection-item-par {
  width: 225px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 16px;
}

.checbox {
  width: 1108px;
  margin: 435px auto 0px;
}

.checbox_paragraph_one {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}

.checbox_paragraph_two {
  width: 667px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 32px;
  margin-bottom: 40px;
}

.checbox_had {
  display: flex;
  justify-content: space-between;
}

.checbox_collection_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 687px;
  height: 176px;
  margin-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.checbox_input {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #CBCBCD;
  padding-top: 48px;
  margin-left: 40px;
}

.checbox_label {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #363738;
  margin-left: 32px;
  margin-top: -50px;
}

.checbox_text {
  width: 466px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-left: 90px;
  margin-top: 24px;
}

.checbox_list {
  width: 281px;
  height: 132px;
}

.checbox_list_par-one {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #363738;
}

.checbox_list_par_two {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
}

.checbox_list_par_three {
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 81px;
}

.checbox_list_div {
  width: 281px;
  height: 1px;
  border: 3px solid #FFCE50;
}

.export {
  width: 90%;
  height: 748px;
}

.export_collection {
  width: 60%;
  margin-left: 164px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 165px);
  margin-top: 72px;
  justify-content: space-between;
}

.export_item {
  display: flex;
}

.export_item_text {
  margin-left: 40px;
}

.export-text-one {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}

.export-text-two {
  width: 291px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 16px;
}

.fakt {
  width: 85%;
  height: 618px;
  margin: 150px auto;
}

.fakt_text-one {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}

.fakt_text-two {
  width: 667px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 32px;
}

.fakt_collection {
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 56px;
}

.fakt-item {
  width: 393px;
  height: 440px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.fakt_item_text {
  margin-top: 24px;
  margin-left: 32px;
}

.fakt-item-par-one {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #363738;
}

.fakt-item-par-two {
  width: 291px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 16px;
}

.fakt-item-par-three {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #363738;
  margin-top: 32px;
}

.fakt-item-line {
  width: 86px;
  border: 3px solid #FFCE50;
  margin-top: 10px;
}

.box {
  width: 85%;
  height: 917px;
  background: #0B7572;
  margin: 212px auto 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.box_text {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #FFFFFF;
  padding-left: 81px;
  padding-top: 100px;
}

.box_img {
  margin-top: 85px;
}

.canbox {
  width: 85%;
  height: 880px;
  margin-top: 120px;
  margin-left: 100px;
}

.canbox_text {
  width: 687px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}

.canbox_collection {
  margin-left: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(3, 245px);
  grid-row-gap: 24px;
}

.canbox_item {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.canbox_item_text {
  width: 955px;
  height: 181px;
  margin: 32px 132px 32px 96px;
  display: flex;
  justify-content: space-between;
}

.canbox-list-par-one {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #363738;
}

.canbox_line {
  width: 86px;
  border: 3px solid #FFCE50;
  margin-top: 24px;
}

.canbox-list-par-two {
  width: 568px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6B6B6C;
  margin-top: 24px;
}

.compani {
  width: 85%;
  height: 576px;
  margin-top: 120px;
  margin-left: 100px;
}

.compani_text_par {
  width: 687px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}

.compani_collection {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 50px;
  align-content: center;
  justify-content: center;
  margin-top: 90px;
}

.compani-img-one {
  margin-left: 74px;
  margin-bottom: 32px;
}

.compani-img-two {
  margin-left: 40px;
  margin-bottom: 56px;
}

.compani-img-three {
  margin-left: 50px;
  margin-bottom: 32px;
}

.compani-img-four {
  margin-left: 70px;
  margin-bottom: 32px;
}

.compani-img-five {
  margin-left: 20px;
  margin-bottom: 57px;
  margin-top: 10px;
}

.compani-img-six {
  margin-left: 70px;
  margin-bottom: 32px;
}

.compani-img-seven {
  margin-left: 75px;
  margin-bottom: 30px;
}

.compani-img-eight {
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.compani-item-text-one {
  width: 184px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  color: #363738;
  margin: auto;
  margin-bottom: 14px;
}

.compani-item-text-two {
  width: 225px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #6B6B6C;
  margin: auto;
}

.director {
  width: 85%;
  height: 576px;
  margin-top: 120px;
  margin-left: 100px;
  background-color: dodgerblue;
}

.director_text {
  width: 687px;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #363738;
}

.director_collection {
  widows: 100%;
  height: 778px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 605px);
  grid-template-rows: repeat(3, 210px);
  grid-row-gap: 24px;
}

.director_item {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */